In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data

FileNotFoundError: [Errno 2] File movie_bd_v5.csv does not exist: 'movie_bd_v5.csv'

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit']=data.revenue - data.budget 
# колонка профит для удобства

data['actors'] = data['cast'].str.split('|')
# колонка списка актёров для моего того-же

data['dirs'] = data['director'].str.split('|')
# колонка режисёров в виде списков

""""Фия нахождения месяца релиза"""
def month_finder(x):
    return int(x.split('/')[0])
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...


# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) '
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data[data.budget==data.budget.max()] #

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall]

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111) '

In [9]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell]

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283) '

In [11]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]"

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'

In [13]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549) '

In [17]:
data[data.profit.max()==data.profit]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819) '

In [19]:
data[data.profit.min()==data.profit]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478'

In [21]:
(data.revenue>data.budget).value_counts()

True     1478
False     411
dtype: int64

Вариант второй

In [22]:
len(data[data.revenue>data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569) '

In [24]:
films2008=data[data.release_year==2008]
films2008.query('revenue==revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '5. The Lone Ranger (tt1210819) '
data.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow]

In [26]:
sort=data.query('release_year==2012 | release_year==2013 | release_year==2014')
sort[sort.profit==sort.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski]

Вариант, подходящий для выборки в тысячу лет

In [27]:
years_list = [x for x in range(2012, 2015)]
df = pd.DataFrame({})
for year in years_list:
    needed_df=data[data.release_year == year]
    df = pd.concat([df, needed_df])
df.query('profit==profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski]

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [29]:
answers['11'] = '3. Drama'

In [30]:
pd.Series(data.genres.str.split('|').sum()).value_counts().index[0]

'Drama'

In [31]:
genres_count=[]
for genres_of_film in data.genres.apply(lambda x: x.split('|')):
    for genre in genres_of_film:
        genres_count.append(genre)
pd.Series(genres_count).value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = '1. Drama'

In [33]:
data_tmp = data[data['profit'] > 0] 
profits_genres=pd.Series((data_tmp.genres.str.split('|').sum())).value_counts()
all_genres= pd.Series((data.genres.str.split('|').sum())).value_counts()

(profits_genres/all_genres.max()).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
answers['13'] = '5. Peter Jackson'

In [35]:
dirs_df = data.explode('dirs')

dirs_df.groupby("director")["revenue"].sum() \
.sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = '3. Robert Rodriguez '

In [37]:
dirs_df = data.explode('dirs')

data_action=dirs_df.genres.str.contains('Action', na = False)
dirs_df[data_action].dirs.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3. Chris Hemsworth'

In [39]:
df_act=data.explode('actors')

df_temp=df_act[df_act.release_year==2012]

df_temp.groupby("actors")["revenue"].sum() \
.sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = '3. Matt Damon'

In [41]:
df_act.query('budget>budget.mean()').actors \
.value_counts().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2. Action'

In [43]:
data['gens']=data['genres'].str.split('|')
df_gens=data.explode('gens')

df_gens[df_gens.cast.str.contains('Nicolas Cage')].gens.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626) '

In [45]:
data[data.production_companies.str.contains('Paramount Pictures')] \
.query('profit==profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,dirs,gens
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],"[Thriller, Drama, History]"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'

In [47]:
data.groupby('release_year').revenue.sum().sort_values().index[-1]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'

In [49]:
df_WB=data[data.production_companies.str.contains('Warner Bros')]

df_WB.groupby('release_year').revenue.sum().sort_values().index[-1]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. 9'

In [51]:
data.release_date.apply(month_finder).value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2. 450'

In [53]:
months_count=data.release_date.apply(month_finder).value_counts()

months_count[6]+months_count[7]+months_count[8] # индексы это цифры месяца

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'

In [55]:
month= data.release_date.apply(month_finder) 
df_winter= data[(month==12)|(month==1)|(month==2)]

df_winter.explode('dirs').dirs.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5. Four By Two Productions'

In [57]:
data['prodCo']=data['production_companies'].str.split('|')
df_prodCo=data.explode('prodCo')

long_titles= df_prodCo.original_title.apply(lambda x:len(str(x)))
df_prodCo['how_long_titles']=long_titles

df_prodCo.groupby('prodCo').how_long_titles.mean() \
.sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = '3.  Midnight Picture Show'

In [59]:
# Copy, Paste. Показалось, что идея неплохая..
print("long_overview= df_prodCo.original_title.apply(lambda x:len(str(x))) \
\ndf_prodCo['how_long_titles']=long_titles  \
\n \
\ndf_prodCo.groupby('prodCo').how_long_titles.mean() \\\
\n.sort_values(ascending=False).index[0]".replace('original_title','overview')\
.replace('titles','overview'))

long_overview= df_prodCo.overview.apply(lambda x:len(str(x)))
df_prodCo['how_long_overview']=long_overview

df_prodCo.groupby('prodCo').how_long_overview.mean() \
.sort_values(ascending=False).index[0]

In [60]:
long_overview= df_prodCo.overview.apply(lambda x:len(str(x))) 
df_prodCo['how_long_overview']=long_overview  
 
df_prodCo.groupby('prodCo').how_long_overview.mean() \
.sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
answers['26'] = '1. The Dark Knight, Inside Out, 12 Years a Slave'

"Использовать варианты ответов в коде решения запрещено.
Вы думаете и в жизни у вас будут варианты ответов?"© 
#### -Ну да, хорошо

In [62]:
one_percent=data.sort_values(['vote_average'],ascending=False)\
[0:int(len(data)*0.01)].original_title

for film in one_percent:
    if film in 'Inside Out The Dark Knight, 12 Years a SlaveBloodRayne, \
    The Adventures of Rocky & BullwinkleBatman Begins, The Lord of the Rings: \
    The Return ofthe King, Upside Down300, Lucky Number Slevin, Kill Bill: \
    Vol. 1Upside Down, Inside Out, Iron Man':print(film)

The Dark Knight
Inside Out
12 Years a Slave

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
answers['27'] ='5. Daniel Radcliffe, Rupert Grint'

In [64]:
pairs_list=[]
for i in data.actors:
    pairs_list+=(list(combinations(i, 2)))
pd.Series(pairs_list).value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Walton Goggins, DemiÃ¡n Bichir)       1
(Kate Mara, Toby Kebbell)              1
(Nathan Phillips, Rachel Blanchard)    1
(Emma Stone, Ryan Reynolds)            1
(Chris Rock, Bill Murray)              1
Length: 18121, dtype: int64

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': '2. Gods and Generals (tt0279111) ',
 '3': '3. Winnie the Pooh (tt1449283) ',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549) ',
 '7': '5. The Lone Ranger (tt1210819) ',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569) ',
 '10': '5. The Lone Ranger (tt1210819) ',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez ',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626) ',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3.  Midnight Picture Show',
 '26': '1. The Dark Knight, Inside Out, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

27